.world {
  width: 80%;
  height: 80vh;
  background-color: black;
  color: white;
  padding: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  box-sizing: border-box;
  margin-left: 5vw;
  margin-top: 5vh;
}
.patient {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.side-by-side {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 8px;
}
